{% extends 'interface/user/signup.html' %}

{% block form %}
    <form action="{% url 'interface:login' %}" method="post">
        {% csrf_token %}

        <label for="username">Username</label>
        <input name="username" id="username" type="text" required>

        <label for="password">Password</label>
        <input name="password" id="password" type="password" required>

        <button>Log in</button>
    </form>
    <p>Don't have account? <a href="{% url 'interface:signup' %}">Sign up here</a></p>
{% endblock %}